*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%;}
button{cursor: pointer;}
table{width: 100%; border-collapse: collapse;}
body{background: #fff; color: #333;}

/*  */
.inner{width: 1200px; margin: auto; /* height: 700px; */ /* background: #fc6; */ }
header{position:relative; height: 100px; background: #ceb398; padding-top: 35px; padding-left: 10px;}
header h1{width: 200px; height: 40px;} /* 문제에서주어짐 */
header h1 a {display: block;} /* 로고 */

/* position:absolute로 공중에 띄어준다. */
nav{position: absolute; top:40px; right: 0;}

/* 아래의 경로는 네비의 탑, 아우터, 팬츠, 악세서리 */
nav>ul{display: flex;}
/* a태그는 속성이 나란히 배치된다. block은 혼자 한줄을 차지한다. */
nav>ul>li>a{display: block; width: 120px; background: #fff; text-align: center; font-weight: bold; color: #ceb398; padding: 10px;}
nav>ul>li>a:hover{color: #333; background: #ceb398;}

/* display:block을 써야 너비가 들어간다. */
.sub{display:none}
.sub li a{background: #fff; display: block; padding: 5px; text-align: center; font-size: 14px;}
.sub li a:hover{background: #f3e2d2;}



.slide{position: relative; height: 300px; background: #fc9; overflow:hidden;} /* overflow:hidden으로 이미지를 한개만 보여준다. */
/* 900인 이유는 슬라이드 3개를 연결했을 때 (세로로)총 300+300+300=900이다. */
.slide ul{position:absolute; top:0; left:0; height: 900px;}
.slide ul li{position: relative; width: 1200px; height: 300px;}

.slide ul li.s1{background: url(../D-2_수험자제공파일/B.Slide/Slide_1.jpg) no-repeat center/cover;} /* 여기서 left center라고 적으면 (가로, 세로)라서 가로는 왼쪽, 세로는 중간이라는 의미. 그리고 /cover라고 적으면 됨 */
.slide ul li.s2{background: url(../D-2_수험자제공파일/B.Slide/Slide_2.jpg) no-repeat center/cover;}
.slide ul li.s3{background: url(../D-2_수험자제공파일/B.Slide/Slide_3.jpg) no-repeat center/cover;}

/* transform:translate(x축기준 이동시킬 값, y축 기준 이동 시킬 값) */
.slide ul li p{background: #ceb398; position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; border-radius: 50%; font-size: 28px; font-weight: bold;}



.con{height: 200px; background: #369; display: flex;}
.con article{width: 400px; height: 100%;}
.con1{background: pink;}
.con1 .tabmenu li{width: 150px; display: inline-block; background: #fcf0ea;} /* flex도 가능 */
.con1 .tabmenu li.on{background: #ceb398; color:#fff}
.con1 .tabmenu li a{display: block; text-align: center; padding: 10px 0; font-weight: bold;}

.con .tabcon{background: #ceb398; height: 150px; padding:10px;}
.notice{display: none;}
.notice th{text-align: left; color:#fff;}
.notice td{color:#fff;}
.notice tr{border-bottom: 1px dashed #fff;}
.notice a{display: block; padding:5px;}

.con .gall{padding-top: 30px;}
.gall ul{text-align: center;}
.gall ul li{width: 120px; display: inline-block;}

.con2{background: skyblue;}
.con3{background: purple;}
footer{height: 100px; background: #333;}